jupyter-client==7.1.2
jupyter-core==4.9.2
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.1.4
matplotlib==3.3.4
nibabel==3.2.1
notebook==6.4.10
numpy==1.19.5
openpyxl==3.0.7
packaging==21.0
pandas==1.1.5
pickleshare==0.7.5
pycosat==0.6.3
pycparser==2.21
pyparsing==2.4.7
PyQt5==5.15.4
scikit-learn==0.22.2
scipy==1.5.4
seaborn==0.11.1
sklearn==0.0
widgetsnbextension==3.6.4